.notes{
 position: relative;
 background-color: #E5E4E2;
 height: 100%;
 width: 100%;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 display: flex;
 justify-content: center;
 align-items: center;
}
.item{
 cursor: grab;
 position: absolute;
 .textEditContent{
  display: flex;
  flex-direction: column;
  textarea{
   width: 100%;
   resize: none;
   margin-bottom: 10px;
  }
  button{
   width: 100px;
   z-index: 0;
  }
 }
}

.myItem.item{
 border: 2px solid blue;
 box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.itemDrag.myItem{
 box-shadow: rgba(0, 0, 0, 0.15) 0px 94px 95px, rgba(0, 0, 0, 0.72) 0px 9px 9px, rgba(0, 0, 0, 0.72) 0px 9px 9px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -30px 50px;
}