.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .users {
    position: fixed;
    flex-grow: 1;
    z-index: 1234;
    height: 70px;
    overflow: hidden;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 1);
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 60px;
    }
  }

  .overlay {
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 170px;
    height: calc(100vh - 170px);
    background-color: #E5E4E2;
    padding: 0 55px 0 50px;

    .messages {
      padding: 20px 0 40px 0;

    }
  }
}